@import '../../variables.scss';

.loader {
    &__body {
        font-size: 2rem;
        font-weight: 600;
        font-family: $base-font;
        color: $accent-color;
    }
}

//states 
.loader {
    &_bg {
        background-color: $sub-bg-color;
    }
}